# Backend API base endpoint
VITE_API_URL=https://recipe-sharing-platform-fgwp.onrender.com/api

# Backend static file host (for uploaded images)
VITE_IMAGE_BASE_URL=https://recipe-sharing-platform-fgwp.onrender.com
