# Server Port
PORT=5000

# MongoDB Atlas or Local Connection String
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/recipe_haven?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/recipe_haven

# JWT Secret Key for token generation
JWT_SECRET=your_secret_key_here

# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173
